.wrapper
  .leftbox
    = render 'devise/shared/leftbox'

  .rightbox
    .rightbox--top
      .rightbox--top__chatgroup
        .rightbox--top__chatgroup__nav
          = @group.name
        %ul.rightbox--top__chatgroup__menber
          menber :
          - @group.group_users.each do |group_user|
            = group_user.user.name
      = link_to edit_group_path(@group.id) do
        .rightbox--top__edit Edit
    .rightbox--center
      = render @messages
    .rightbox--form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'rightbox--form__message', placeholder: 'type a message'
        .rightbox--form__mask
          = f.label :image, class: 'rightbox--form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'rightbox--form__submit'
