.wrapper
  .leftbox
    = render 'devise/shared/leftbox'

  .rightbox
    .rightbox--top
      .rightbox--top__chatgroup
        %h2.rightbox--top__chatgroup__nav group
        %ul.rightbox--top__chatgroup__menber menber : name
      = link_to 'Edit', '#', class: "rightbox--top__edit"
    .rightbox--center
      = render @messages
    .rightbox--form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'rightbox--form__message', placeholder: 'type a message'
        .rightbox--form__mask
          = f.label :image, class: 'rightbox--form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'rightbox--form__submit'
